# Arquivos do Git
.git
.gitignore
.gitattributes

# Maven
target/
!target/*.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/
.metadata/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentação
README.md
*.md
docs/

# Outros
*.old
